/* ========================================================================
 * STAN Utils: Navigation
 * Author: Andrew Womersley
 * ======================================================================== */

/** Nav */
.sa-nav,
.sa-nav li{
  position:relative;
}

.sa-nav:hover{
  z-index:200;
}


.nav-block a{
  display:block;
}

.nav-list a{
  display:inline-block;
}


.nav-vertical li:last-child,
.nav-vertical li:last-child > a{
  margin-bottom:0;
}


/** Horizontal List */
.nav-horizontal > ul > li{
  float:left;
}


/** Sub Nav */
.nav-horizontal ul ul{
  position:absolute;
  top:100%;
  left:0;
  display:none;
}

.nav-horizontal ul ul ul{
  top:0;
  left:100% !important;
}

.nav-horizontal li:hover > ul{
  display:block;
}
