/* ========================================================================
 * STAN Utils: Navigation
 * Author: Andrew Womersley
 * ======================================================================== */

/** Nav */
.sa-nav,
.sa-nav li{
  padding:0;
  margin:0;
  position:relative;
}

.sa-nav:hover{
  z-index:1000;
}

.nav-horizontal a{ display:block; }

/** Block Nav */
.sa-nav.nav-block a{
  display:block;
  padding:7px 0;
  background:#eee;
}

.sa-nav.nav-block a:hover{
  background:#ddd;
  text-decoration:none;
}

.sa-nav.nav-block li.active > a{
  background:#ccc;
}


/** Vertical */
.nav-vertical:not(.nav-block) a,
.nav-horizontal:not(.nav-block) ul ul a{
  display:inline-block;
  margin:0 0 6px 0;
}

.nav-vertical:not(.nav-block) > ul > li:last-child > a{
  margin-bottom:0;
}


/** Horizontal List */
.nav-horizontal > ul > li{
  float:left;
}


/** Sub Nav */
.nav-horizontal ul ul{
  position:absolute;
  top:100%;
  left:0;
  display:none;
  background:#eee;
}

.nav-horizontal ul ul ul{
  top:0;
  left:100% !important;
}

.nav-horizontal li:hover > ul{
  display:block;
}


/* Nav */
.sa-nav ul a{
  line-height:16px;
}

/* Icons */
.sa-nav ul i{
  top:8px;
}
.sa-nav.nav-block ul i{
  top:15px;
}

/* Horizontal List */
.sa-nav.nav-horizontal:not(.nav-block)>ul>li{
  margin-right:15px;
}

/* Horizontal / Vertical Block */
.sa-nav.nav-block a,
.sa-nav.nav-horizontal:not(.nav-block) ul ul li{
  padding-left:15px;
  padding-right:15px;
}

/* Horizontal Sub Nav */
.sa-nav.nav-horizontal:not(.nav-block) ul ul{
  padding-top:8px;
  padding-bottom:8px;
  left:-15px;
}
.sa-nav.nav-horizontal:not(.nav-block) ul ul ul{
  top:-8px;
}

/* Vertical Sub Nav */
.sa-nav.nav-vertical:not(.nav-block) ul ul li{
  padding-left:15px;
}
.sa-nav.nav-vertical:not(.nav-block) ul ul ul li,
.sa-nav.nav-vertical.nav-block ul ul a{
  padding-left:30px;
}
.sa-nav.nav-vertical:not(.nav-block) ul ul ul ul li,
.sa-nav.nav-vertical.nav-block ul ul ul a{
  padding-left:45px;
}
.sa-nav.nav-vertical.nav-block ul ul ul ul a{
  padding-left:60px;
}


/** Overrides */
.sa-nav.nav-block.sa-panel{
  xadding:0 !important;
}
