/* ========================================================================
 * STAN Utils: Navigation
 * Author: Andrew Womersley
 * ======================================================================== */

/** Nav */
.sa-nav,
.sa-nav li,
.sa-nav .sa-title{
  padding:0;
  margin:0;
  position:relative;
}

.sa-nav:hover{
  z-index:1000;
}


/** Block Nav */
.sa-nav.sa-block a{
  display:block;
  padding:6px 0;
  background:#eee;
}

.sa-nav.sa-block a:hover{
  background:#ddd;
  text-decoration:none;
}

.sa-nav.sa-block li.active > a{
  background:#ccc;
}


/** Vertical */
.nav-vertical:not(.sa-block) a{
  display:inline-block;
  margin:0 0 6px 0;
}

.nav-vertical:not(.sa-block) li:last-child a{
  margin-bottom:0;
}


/** Horizontal List */
.nav-horizontal > ul > li,
.nav-horizontal .sa-title{
  float:left;
}


/** Sub Nav */
.nav-horizontal.sa-block ul ul{
  position:absolute;
  top:100%;
  left:0;
  display:none;
}

.nav-horizontal.sa-block ul ul ul{
  top:0;
  left:100%;
}

.nav-horizontal.sa-block li:hover > ul{
  display:block;
}


/** Small sa-sm */

  /* Nav */
  .sa-nav.sa-sm li a{
    line-height:18px;
  }

  /* Icons */
  .sa-nav.sa-sm i{
    top:8px;
  }
  .sa-nav.sa-sm.sa-block i{
    top:16px;
  }

  /* Horizontal List */
  .nav-horizontal.sa-sm:not(.sa-block) li,
  .nav-horizontal.sa-sm:not(.sa-block) .sa-title{
    margin-right:15px;
  }

  /* Horizontal / Vertical Block */
  .sa-nav.sa-sm.sa-block a,
  .sa-nav.sa-sm.sa-block .sa-title{
    padding-left:15px;
    padding-right:15px;
  }

  /* Vertical Block Sub Nav */
  .nav-vertical.sa-sm.sa-block ul ul a{
    padding-left:30px;
  }
  .nav-vertical.sa-sm.sa-block ul ul ul a{
    padding-left:45px;
  }
  .nav-vertical.sa-sm.sa-block ul ul ul ul a{
    padding-left:60px;
  }




/** Overrides */
.sa-nav.sa-block ul.sa-content{
  padding-left:0 !important;
  padding-right:0 !important;
}

.sa-nav.sa-block ul.sa-content:before,
.sa-nav.sa-block ul.sa-content:after,
.sa-nav.nav-horizontal ul.sa-content:before,
.sa-nav.nav-horizontal ul.sa-content:after{
  height:0 !important;
}

