/* ========================================================================
 * STAN Utils: Spaces/Divides
 * Author: Andrew Womersley
 * ======================================================================== */

/** Space */
.space-xs,
.space-sm,
.space-md,
.space-lg,
.space-xl{
  clear:both;
  height:0;
}

.space-xs{
  height:@xs;
}

.space-sm{
  height:@sm;
}

.space-md{
  height:@md;
}

.space-lg{
  height:@lg;
}

.space-xl{
  height:@xl;
}


/** Divide */
.divide-xs,
.divide-sm,
.divide-md,
.divide-lg,
.divide-xl{
  clear:both;
  border-bottom:solid 1px #ccc;
}

.divide-xs{
  height:@xs;
  margin-bottom:@xs;
}

.divide-sm{
  height:@sm;
  margin-bottom:@sm;
}

.divide-md{
  height:@md;
  margin-bottom:@md;
}

.divide-lg{
  height:@lg;
  margin-bottom:@lg;
}

.divide-xl{
  height:@xl;
  margin-bottom:@xl;
}

