/* ========================================================================
 * STAN Utils: VAlign
 * Author: Andrew Womersley
 * ======================================================================== */

 .valign-mid,
 .device-lg .valign-mid-not-xs,
 .device-md .valign-mid-not-xs,
 .device-sm .valign-mid-not-xs{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.valign-btm,
.device-lg .valign-btm-not-xs,
.device-md .valign-btm-not-xs,
.device-sm .valign-btm-not-xs{
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}
