/* ========================================================================
 * STAN Utils: Base
 * Author: Andrew Womersley
 * ======================================================================== */

html{ width:100%; height:100%; }
body{ width:100%; min-height:100%; }
body, html, h1, h2, h3, h4, h5, h6, p, form, ul, ol, li,a{ padding:0px; margin:0px; }
h1,h2,h3,h4,h5,h6{ font-weight:normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
a{ outline:none; text-decoration:none; }


a.no-style,a.no-style:hover{ color:inherit !important; text-decoration:none !important; }

p{ margin-bottom:10px; }
p:last-child{ margin-bottom:0; }
