/* ========================================================================
 * STAN Utils: Spaces/Divides
 * Author: Andrew Womersley
 * ======================================================================== */

/** Space */

*[class*="space"]{
  clear:both; height:0;
}

.space-xs{
  height:7px;
}

.space-sm{
  height:15px;
}

.space-md{
  height:30px;
}

.space-lg{
  height:45px;
}

.space-xl{
  height:60px;
}


/** Divide */

*[class*="divide"]{
  clear:both;
  border-bottom:solid 1px #ccc;
}

.divide-xs{
  height:7px;
  margin-bottom:7px;
}

.divide-sm{
  height:15px;
  margin-bottom:15px;
}

.divide-md{
  height:30px;
  margin-bottom:30px;
}

.divide-lg{
  height:45px;
  margin-bottom:45px;
}

.divide-xl{
  height:60px;
  margin-bottom:60px;
}


/** Before / After */

*[class*="before"]:before,
*[class*="before"]:after{
  content:"";
  display:block;
}

.before-xs:before,
.after-xs:after{
  height:7px;
}

.before-sm:before,
.after-sm:after{
  height:15px;
}

.before-md:before,
.after-md:after{
  height:30px;
}

.before-lg:before,
.after-lg:after{
  height:45px;
}

.before-xl:before,
.after-xl:after{
  height:60px;
}

