---
title: STAN Plugins
base:	"./"
---

<!DOCTYPE html>  
<html lang="en">
{% include head.html %}
<body>

	{% include header.html %}

	<div class='container'>

		<div class='col-sm-4 col-md-3'>

			{% include sidebar.html %}
			
		</div>
		<div  class='col-sm-8 col-md-9'>

			{% include modules/media-query-class.html %}

			{% include modules/collapse-tab.html %}

			{% include modules/fixed-size.html %}

			{% include modules/img-responsive.html %}

			{% include modules/popup.html %}

			{% include modules/scroll-to.html %}

			{% include modules/slide-out.html %}

			{% include modules/sticky-fix.html %}

			{% include modules/class-switcher.html %}

			{% include modules/anchor-nav.html %}

			{% include modules/carousel.html %}

		</div>
		<div class='clear30'></div>

	</div>

	{% include footer.html %}

</body>
{% include scripts.html %}
</html>