---
title: Plugins - STAN Utils
layout: main
base: "./"
id:   "plugins"
---

{% include modules/plugin-anchor-nav.html %}

{% include modules/plugin-class-switcher.html %}

{% include modules/plugin-colousel.html %}

{% include modules/plugin-domovr.html %}

{% include modules/plugin-filter.html %}

{% include modules/plugin-fixed-size.html %}

{% include modules/plugin-popup.html %}

{% include modules/plugin-predinput.html %}

{% include modules/plugin-scroll-to.html %}

{% include modules/plugin-slide-out.html %}

{% include modules/plugin-slider.html %}

{% include modules/plugin-sticky-fix.html %}
