/* ========================================================================
 * STAN Utils: ImgBox
 * Author: Andrew Womersley
 * ======================================================================== */

img.fullwidth{
	width:100%;
  height:auto;
}

img.fullheight{
  width:auto;
  height:100%;
}

img.maxwidth{
	max-width:100%;
  height:auto;
}

img.maxheight{
  width:auto;
  max-height:100%;
}
