/* ========================================================================
 * STAN Utils: HasIconBtn
 * Author: Andrew Womersley
 * ======================================================================== */

.has-icon,
.has-btn {
    position:relative;
}

.has-icon i, .has-btn .btn {
    position:absolute;
    top:50%;
    left:0;
}

.has-right .btn, .has-right i{
    left:auto;
    right:0;
}
