/* ========================================================================
 * STAN Utils: HasIconBtn
 * Author: Andrew Womersley
 * ======================================================================== */

.sa-inset,
.sa-outset{
  position:absolute;
  top:50%;
  left:0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sa-inset.sa-right,
.sa-outset.sa-right{
    left:auto;
    right:0;
}
