<footer>
	
	<div class='container relative'>

		<p class='pad-btm-sml'>&copy; 2014 STAN Plugins a project by <a href='http://www.smartarts.co.uk' target='_blank'>Smart Arts</a>.</p>

		<div class='logos'>
			<img src='{{ page.base }}_assets/imgs/html5.svg' />
			<img src='{{ page.base }}_assets/imgs/css3.svg' />
			<img src='{{ page.base }}_assets/imgs/javascript.svg' />
			<img src='{{ page.base }}_assets/imgs/grunt.svg' />
			<img src='{{ page.base }}_assets/imgs/bower.svg' />
			<img src='{{ page.base }}_assets/imgs/octocat.svg' />
		</div>

		<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

&nbsp;&nbsp;&nbsp;

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

	</div>

</footer>