<header>

    <div class='container'>

        <a href='{{ page.base }}' class='logo'>
            <img src='{{ page.base }}_assets/imgs/sa-logo.png' />
            <span>STAN</span>
        </a>

        <ul>
            <li {% if page.id == 'plugins' %}class='active'{% endif %}>
                <a href='{{ page.base }}plugins.html'>PLUGINS</a>
            </li>
            <li {% if page.id == 'components' %}class='active'{% endif %}>
                <a href='{{ page.base }}components.html'>COMPONENTS</a>
            </li>
            <li {% if page.id == 'css' %}class='active'{% endif %}>
                <a href='{{ page.base }}css.html'>CSS</a>
            </li>
        </ul>

    </div>

</header>
