h1{ padding:0 0 10px 0; font-weight:500; }
h2{ }
h3{ }
h4{ padding:0 0 10px 0; font-weight:500; }
p{ padding-bottom:10px; }
code.block{ margin-bottom:10px; }

.collapse-tab{ margin-top:15px; }
.collapse-tab .tab-pane{ padding-top:15px; }
.collapse-tab h3{ display:none; }
.device-xs .collapse-tab h3{ display:block; }

.nav-tabs li a{ font-weight:bold; }

.switcher div{ padding-bottom:30px; }
.switcher .grid span{ height:300px; background:#ccc; display:block; }
.switcher .list span{ height:100px; background:#ccc; display:block; }

.switcher2 div{ padding-bottom:30px; }
.switcher2 .grid span{ height:100px; background:#ccc; display:block; }
.switcher2 .list span{ height:50px; background:#ccc; display:block; }


.device-xs .tab-content>.tab-pane{ display:block; }
.device-xs .tab-content>.tab-pane h2{ cursor:pointer; background:#eee; border-bottom:solid 1px #ccc; }
h2{ padding:0; margin:0 0 10px 0; }

.col{ margin-bottom:30px; }
.col div{ background:#ccc; }
.col span{ display:block; }

.mqv{ display:none; }
.device-xs .xs{ display:block; }
.device-sm .sm{ display:block; }
.device-md .md{ display:block; }
.device-lg .lg{ display:block; }

.popup .form{ background:#fff; padding:20px; }

.list{ padding:0 0 10px 20px; }
.list li{ list-style:disc; line-height:16px; padding:0 0 5px 0; }

footer{ height:200px; background:#eee; }