/* ========================================================================
 * STAN Utils: Helpers
 * Author: Andrew Womersley
 * ======================================================================== */

/* Floats */
.float-left{ 	float:left 			!important; }
.float-right{ 	float:right 		!important; }

/* Text aligns */
.text-left{ 	text-align:left 	!important; }
.text-center{ 	text-align:center 	!important; }
.text-right{ 	text-align:right 	!important; }

/* Display/Postion */
.block{ 		display:block 		!important; }
.relative{ 		position:relative 	!important; }

/* Cursor */
.pointer{ 		cursor:pointer 		!important; }