/* ========================================================================
 * STAN Utils: Helpers
 * Author: Andrew Womersley
 * ======================================================================== */

/** Floats */
.float-left{  float:left      !important; }
.float-right{   float:right     !important; }


/** Text aligns */
.text-left{   text-align:left   !important; }
.text-center{   text-align:center   !important; }
.text-right{  text-align:right  !important; }

.line-xs{ line-height:@xs; }
.line-sm{ line-height:@sm; }
.line-md{ line-height:@md; }
.line-lg{ line-height:@lg; }
.line-xl{ line-height:@xl; }
.line-xxl{ line-height:@xxl; }


/** Display/Postion */
.block{     display:block     !important; }
.relative{    position:relative   !important; }
.static{ position:static  !important; }

/** Cursor */
.pointer{     cursor:pointer    !important; }


.img-fullwidth{ width:100%; display:block; height:auto; }

/** Transition */
.ease-short,
.transition-sm{
  .transition(all 0.3s ease);
}

.ease-medium,
.transition-md{
  .transition(all 0.6s ease);
}

.ease-long,
.transition-lg{
 .transition(all 0.9s ease);
}

a.no-style, a.no-style:hover {
    color:inherit !important;
    text-decoration:none !important;
}

ul, ol, li {
    list-style: none;
    padding:0;
    margin:0;
}
fieldset, img {
    border: none;
}
a {
    outline:none;
    text-decoration:none;
}


/** Clear Fix - Add here all elements that have cf auto aplied */
.sa-cf:before,
.sa-cf:after,
.nav-horizontal>ul:before,
.nav-horizontal>ul:after{
  content: " ";
  display: table;
}

.sa-cf:after,
.nav-horizontal>ul:after{
  clear: both;
}
