body{ padding:0 50px; }
ul{ padding:0; }
.clear30{ clear:both; height:30px; }

.switcher div{ padding-bottom:30px; }
.switcher .grid span{ height:300px; background:#ccc; display:block; }
.switcher .list span{ height:100px; background:#ccc; display:block; }

.switcher2 div{ padding-bottom:30px; }
.switcher2 .grid span{ height:100px; background:#ccc; display:block; }
.switcher2 .list span{ height:50px; background:#ccc; display:block; }