/* ========================================================================
 * STAN Plugins: Reset
 * Author Andrew Womersley
 * ======================================================================== */

*{padding:0;margin:0}
body, html, h1, h2, h3, h4, p, form, ul, ol, li,a{ padding:0px; margin:0px; }
h1,h2,h3,h4,h5,h6{ font-weight:normal; }
ul,ol { list-style: none; }
table { border-collapse: collapse; }
html{ width:100%; height:100%; }
body{ width:100%; min-height:100%; }
fieldset,img { border: none; }
a{ outline:none; text-decoration:none; }
input,textarea{ padding:0px; margin:0px; line-height: normal !important; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }