<div class='jumbotron bg-red'>
	<div class='container'>
  		<h1>STAN Utils</h1>
  		<p>A responsive frontend utility library for easy device independent web development.</p>
  		<div class='clear10'></div>
  		<p><a href='{{ site.download | replace:"[version]", site.version }}' class='btn btn-lg btn-black'><i class='fa fa-download fa-lg'></i> &nbsp;Download</a> &nbsp; <a href='{{ site.github }}' class='btn btn-lg btn-black' target='_blank'><i class='fa fa-github fa-lg'></i> &nbsp;Github</a></p>
  		<p class='sml'><em>Current Version: {{ site.version }}</em></p>
  	</div>
</div>