/* ========================================================================
 * STAN Utils: Filter
 * Author: Andrew Womersley
 * ======================================================================== */

.sa-filter{
  position:relative;
  z-index:10;
  visibility:hidden;
}

.sa-filter .inactive{
  display:none;
}

.sa-filter .sa-load{
  position:relative;
  z-index:20;
}
