/* ========================================================================
 * STAN Utils: Filter
 * Author: Andrew Womersley
 * ======================================================================== */

.sa-filter .inactive{
  display:none;
}
.sa-filter-load{
  position:relative;
  z-index:20;
}

