/* ========================================================================
 * STAN Utils: Articles
 * Author: Andrew Womersley
 * ======================================================================== */

article.list{ padding:15px 0; }

article.divide{ border-bottom:solid 1px #ccc; }
article.divide:last-child{ border:none; }

article.hover:hover{ background:#eee; cursor:pointer; }
.sa-panel article.hover:hover{ background:#ddd; }

article.tab .title-block{ position:absolute; bottom:0; left:15px; right:15px; text-align:center; }
article.tab:hover .title-block{ background:#111; }

article.click{ cursor:pointer; }
