@device: ;
@import (multiple) "src/css.margin-padding/margin-padding.inc.less";

.desktop{
	@device: desktop-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.mobile{
	@device: mobile-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}
