@device: ;
@import (multiple) "src/css.margin-padding/margin-padding.inc.less";

.device-xs{
	@device: xs-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.device-sm{
	@device: sm-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.device-md{
	@device: md-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.device-lg{
	@device: lg-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.sa-desktop{
	@device: desktop-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}

.sa-mobile{
	@device: mobile-;
	@import (multiple) "src/css.margin-padding/margin-padding.inc.less";
}
