/** Reset */
*{padding:0;margin:0}
body, html, h1, h2, h3, h4, p, form, ul, ol, li,a{ padding:0px; margin:0px; }
h1,h2,h3,h4,h5,h6{ font-weight:normal; }
ul,ol { list-style: none; }
table { border-collapse: collapse; }
body, html { width:100%; height:100%; }
fieldset,img { border: none; }
a{ outline:none; text-decoration:none; }
input,textarea{ padding:0px; margin:0px; line-height: normal !important; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }


/** Floats and clears */
.left{ float:left; }
.right{ float:right !important; }
p.left, p.right{ float:none; }
.clear{ clear:both; height:0; }
.clear5{ clear:both; height:5px; }
.clear10{ clear:both; height:10px; }
.clear20{ clear:both; height:20px; }
.clear30{ clear:both; height:30px; }
.clear40{ clear:both; height:40px; }


.divide10{ clear:both; height:10px; border-bottom:solid 1px #ddd; margin-bottom:10px; }
.divide20{ clear:both; height:20px; border-bottom:solid 1px #ddd; margin-bottom:20px; }
.divide30{ clear:both; height:30px; border-bottom:solid 1px #ddd; margin-bottom:30px; }
.divide40{ clear:both; height:40px; border-bottom:solid 1px #ddd; margin-bottom:40px; }

.clk{ cursor:pointer; }
.last{ margin-right:0 !important; }

.block{ display:block !important; }
.pointer{ cursor:pointer; }

/** Text aligns */
.tac{ text-align:center; }
.tar{ text-align:right; }

/** No paddings */
.nop{ padding:0 !important; }
.nopt{ padding-top:0 !important; }
.nopb{ padding-bottom:0 !important; }

/** Margin */
.martl{ margin-top:50px; }
.marbl{ margin-bottom:50px; }
.marll{ margin-left:50px; }
.marrl{ margin-right:50px; }
.mart{ margin-top:30px; }
.marb{ margin-bottom:30px; }
.marl{ margin-left:30px; }
.marr{ margin-right:30px; }
.marts{ margin-top:15px; }
.marbs{ margin-bottom:15px; }
.marls{ margin-left:15px; }
.marrs{ margin-right:15px; }




.col-sm-1-5{ position:relative; min-height:1px; float:left; padding-left:15px; padding-right:15px; } /* this line is only needed if the div doesn't have any default bootstrap column classes applied */

@media screen and (min-width: 599px){
  .col-sm-1-5{ width:12.5%; }
}
@media screen and (min-width: 1025px){
  .col-md-1-5{ width:12.5%; }
}
@media screen and (min-width: 1200px){
  .col-lg-1-5{ width:12.5%; }
}