/* ========================================================================
 * STAN Utils: Dropdown
 * Author: Andrew Womersley
 * ======================================================================== */

.sa-dropdown{
  position:relative;
}

.sa-dropdown .sa-click{
  cursor:pointer;
}

.sa-dropdown .sa-click i{
  zposition:absolute;
  zright:15px;
}

.sa-dropdown .sa-content{
  position:absolute;
  top:100%;
  left:0;
  visibility:hidden;
}

.sa-dropdown.sa-right .sa-content{
  left:auto;
  right:0;
}

.sa-dropdown.active .sa-content{
  visibility:visible;
}

.sa-inline{ display:inline-block; }
