<h1>Image Responsive</h1>
<p>Load images responsivly depending on window size. Start by loading the smallest image and only load larger if needed. If the <code>data-src</code> attr is not set then no image replacement happens.</p>

<pre><code class='xml'>&lt;img src='/path/img-xs.jpg' data-src='{
	"xs":"/path/img-xs.jpg",
	"sm":"/path/img-sm.jpg",
	"md":"/path/img-md.jpg",
	"lg":"/path/img-lg.jpg"
}' /&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-img-responsive.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>