<h1>Checkbox</h1>

<p>A checkbox module that allows any element to be used as the checkbox. To have a checkbox checked when the page loads simply set the value of the hidden input to <code>1</code>.</p>

<pre><code class='xml'>&lt;div class="sa-checkbox"&gt;
  &lt;i class='fa fa-square-o sa-off sa-inset pad-right-xs'>&lt;/i&gt;
  &lt;i class='fa fa-check-square-o sa-on sa-inset pad-right-xs'&gt;&lt;/i&gt;
  &lt;label>An icon based checkbox&lt;/label&gt;
  &lt;input type='hidden' name='cbox' value='' /&gt;
&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-checkbox.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
