<h1>Alerts</h1>
<p>Taking Bootstrap alerts as its base this component allows for easy adding of buttons and icons within an alert box. Place any icon using the <code>&lt;i&gt;</code> tag or any button with class <code>.btn</code> inside an alert and add either <code>has-icon</code> or <code>has-btn</code> classes to the alert. By default the icons and buttons will be left aligned, to make them right aligned use <code>icon-right</code> or <code>btn-right</code>.</p>

<pre><code class='xml'>&lt;div class="alert alert-success has-icon icon-right"&gt;
	&lt;i class="fa fa-check fa-4x">&lt;/i&gt; All icon sizes are handled...
&lt;/div&gt;

&lt;div class="alert alert-success has-btn"&gt;
	&lt;a href="#" class="btn btn-success btn-lg"&gt;Click Me&lt;/a&gt; ..and so are button sizes!
&lt;/div&gt;</code></pre>

<p><a href='examples/media-query-class/' target='_blank' class='btn btn-sm btn-primary'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>