<h1>Inset/Outset</h1>
<p>This component allows for easily insetting or outsetting an element from its parent. To inset an element add the class <code>sa-inset</code> and to ouset an element add the class <code>sa-ouset</code>. By default elements are postioned left/middle, to move them to the right add the class <code>sa-right</code> or to move them to the top/bottom add the classes <code>sa-top</code> and <code>sa-btm</code>.


<p>Spacing between the inset/ouset element and other content can be achieved by adding padding or margin to the inset/ouset elemtent.</p>

<p>When insetting an element, left or right padding is applied to its imediate parent to achieve the inset. When outsetting an element padding is applied to the imediate parents parent and then the outset element is giving a negative left or right position.</p>

<pre><code class='xml'>&lt;div&gt;
  &lt;h2&gt;
    &lt;i class='fa fa-plus-square sa-ouset'>&lt;/i&gt;
    Title with Icon
  &lt;/h2&gt;
  &lt;p&gt;This text will be indented along with the title!&lt;/p&gt;
&lt;/div&gt;

&lt;div class="alert alert-success"&gt;
	&lt;a href="#" class="btn btn-success btn-lg sa-inset sa-right"&gt;Click Me&lt;/a&gt; Alert message...
&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-inset-outset.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
