<h1>Tooltips / Popovers</h1>

<p>A wrapper component for BS's tooltips and popovers. As the BS API specifies that tooltips and popovers are opt-in and must be initialized by the user creating and initiating them can be long winded, especially if you want to set the container too.</p>

<h3>Tooltips</h3>
<p>Simply add the class <code>sa-tooltip</code> to any element you want to have a tooltip, all the normal BS options set via data attributes will work as expected.</p>

<pre><code class='xml'>&lt;button class="sa-tooltip" data-placement="left" title="Title"&gt;Tooltip&lt;/button&gt;
</code></pre>

<p><a href='{{ page.base }}examples/component-tooltip-popover.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-md'></div>

<h3>Popovers</h3>
<p>Simply add the class <code>sa-popover</code> to any element you want to have a popover, all the normal BS options set via data attributes will work as expected.</p>

<pre><code class='xml'>&lt;button class="sa-popover" data-placement="left" data-content="Content"&gt;Popover&lt;/button&gt;
</code></pre>

<p><a href='{{ page.base }}examples/component-tooltip-popover.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>


<div class='divide-lg'></div>
