<h1>Card UI</h1>

<p>A quick and simple card UI layout component. Cards width's are set by standard bootstrap columns, cards will then stack neatly under each other rather than floating and leaving un-even gaps on the page. To make the cards animate in to position add the class <code>animate</code> to each individual card. By default the elements within <code>sa-cards</code> with the class <code>card</code> will be positioned, to override this add the attribute <code>data-selector=".class-name"</code> to <code>sa-cards</code>. </p>

<pre><code class='xml'>&lt;div class="sa-cards row">

  &lt;div class="card"&gt;...&lt;div&gt;
  &lt;div class="card"&gt;...&lt;div&gt;
  &lt;div class="card"&gt;...&lt;div&gt;
  &lt;div class="card"&gt;...&lt;div&gt;

&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-card-ui.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
