<h1>Form Elements</h1>

<p>Easily style up checkboxes, radio buttons and select dropdowns. Uses standard markup for the form elements surrounded by some custom HTML to create the custom appearance.</p>

<h4>Checkbox</h4>

<pre><code class="xml">&lt;div class="sa-checkbox"&gt;
  &lt;i class="fa fa-square-o sa-off sa-inset pad-right-xs">&lt;/i&gt;
  &lt;i class="fa fa-check-square-o sa-on sa-inset pad-right-xs"&gt;&lt;/i&gt;
  &lt;label>An icon based checkbox&lt;/label&gt;
  &lt;input type="checkbox" name="cbox" value="1" checked /&gt;
&lt;/div&gt;</code></pre>

<h4>Radio</h4>

<pre><code class="xml">&lt;div class="sa-radio"&gt;
  &lt;i class="fa fa-circle-o sa-off sa-inset pad-right-xs"&gt;&lt;/i&gt;
  &lt;i class="fa fa-circle sa-on sa-inset pad-right-xs"&gt;&lt;/i&gt;
  &lt;label&gt;An icon based radio button&lt;/label&gt;
  &lt;input type="radio" name="radio" value="abc" /&gt;
&lt;/div&gt;</code></pre>

<h4>Select</h4>

<pre><code class="xml">&lt;div class="sa-select"&gt;
  &lt;i class="fa fa-caret-down valign-mid"&gt;&lt;/i&gt;
  &lt;select name="" class="form-control"&gt;
    &lt;option&gt;...&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;</code></pre>

<p><a href="{{ page.base }}examples/component-checkbox.html" target="_blank" class="btn btn-sm btn-black"><i class="fa fa-external-link"></i> View Example</a></p>

<div class="divide-lg"></div>
