<h1>Dropdown</h1>

<p>A JS/CSS controlled HTML dropdown.</p>

<pre><code class='xml'>&lt;div class="sa-dropdown"&gt;

  &lt;div class='sa-click'&gt;
    Dropdown
    &lt;i class='fa fa-chevron-down valign-mid'&gt;&lt;/i&gt;
  &lt;/div&gt;

  &lt;div class='sa-content'&gt;...&lt;/div&gt;

&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-dropdown.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
