<h1>XS Collapse</h1>

<p>A module that acts as a collapse on XS devices and displays the content as normal on SM and up.</p>

<pre><code class='xml'>&lt;div class='xscollapse' data-toggle='collapse' data-target='#xscollapse'&gt;Collapse&lt;/div&gt;
&lt;div id='xscollapse' class='collapse in'&gt;...&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-xs-collapse.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>