<h1>Fix Width</h1>

<p>Forces an element to its natural width when displayed inside a smaller container. Works even when the element is not displayed or is hidden. The FixWidth function is executed on page load and resize but also on <code>mouseover</code> of any <code>fix-width</code> parent element - making it great for hidden sub navs.</p>

<pre><code class='xml'>&lt;ul&gt;
  &lt;li&gt;Link 1&lt;/li&gt;
  &lt;li&gt;Link 2
    &lt;ul class="fix-width"&gt;
      &lt;li&gt;Sub Link 1&lt;/li&gt;
      &lt;li&gt;Sub Link 2
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-fix-width.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>
