<h1>XS Collapse</h1>

<p>A module that acts as a collapse on XS devices and displays the content as normal on SM and up.</p>

<code class='js block pre-scrollable'>
	&lt;div class='xscollapse' data-toggle='collapse' data-target='#xscollapse'&gt;Collapse&lt;/div&gt;<br/>
	&lt;div id='xscollapse' class='collapse in'&gt;...&lt;/div&gt;
</code>

<p><a href='examples/media-query-class/' target='_blank' class='btn btn-sm btn-primary'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>