<h1>Has Icon/Button</h1>
<p>This component allows for easy adding of buttons and icons within an any element. Place any icon using the <code>&lt;i&gt;</code> tag or any button with class <code>.btn</code> inside another element and add either <code>has-icon</code> or <code>has-btn</code> classes. By default the icons and buttons will be left aligned, to make them right aligned use <code>has-right</code>.</p>

<p>To inset the icon or button from the left or right use the attribute <code>data-offset-pos="10"</code>. To add the inset padding to the parent element use the attribute <code>data-pad-parent="true"</code>.</p>

<pre><code class='xml'>&lt;div&gt;
  &lt;div class='has-icon' data-pad-parent='1'&gt;
    &lt;i class='fa fa-plus-square'>&lt;/i> &lt;h2&gt;Title with Icon - Padding parent&lt;/h2&gt;
  &lt;/div&gt;
  &lt;p&gt;This text will now be offset as well!&lt;/p&gt;
&lt;/div&gt;

&lt;div class="alert alert-success has-btn has-right"&gt;
	&lt;a href="#" class="btn btn-success btn-lg"&gt;Click Me&lt;/a&gt; ..and so are button sizes!
&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-has-icon-btn.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide40'></div>
