<h1>Image Box</h1>

<p>Control the display of an image within it's parent. Either force the image to fill it's parent or fit within it.</p>

<pre><code class='xml'>&lt;div&gt;
  &lt;div src="image.jpg" data-img-box="fit" /&gt;
&lt;/div&gt;

&lt;div&gt;
  &lt;div src="image.jpg" data-img-box="fill" /&gt;
&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-img-box.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
