<h1>Tabs</h1>

<h3>Normal Tabs</h3>
<p>Built upon BS tabs this component allows for marking up tabs without the need of setting ID's and targets. The usuall BS commands for showing tabs remain instact.</p>

<pre><code class='xml'>&lt;div class="sa-tabs"&gt;

  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;

  &lt;div class="sa-content"&gt;
    &lt;div class="tab-pane"&gt;...&lt;/div&gt;
    &lt;div class="tab-pane"&gt;...&lt;/div&gt;
  &lt;/div&gt;

&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-tabs.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-md'></div>


<h3>Collapse Tabs</h3>

<p>Built upon BS tabs this component allows for marking up tabs without the need of setting ID's and targets. The usuall BS commands for showing tabs remain instact.</p>

<pre><code class='xml'>&lt;div class="sa-tabs"&gt;

&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/component-tabs-2.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
