<h1>Social Icons</h1>

<p>A collection of different styled social icon widgets.</p>


<pre><code class='xml'>&lt;p class="sa-social">
  &lt;a href="#" class="icon twitter"&gt;
    &lt;i class="fa fa-twitter-square"&gt;&lt;/i&gt;
  &lt;/a&gt;&lt;a href="#" class="icon facebook"&gt;
    &lt;i class="fa fa-facebook-square"&gt;&lt;/i&gt;
  &lt;/a&gt;
&lt;/p&gt;
</code></pre>

<p><a href='{{ page.base }}examples/css-social-icons.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
