<h1>Articles</h1>

<p>Article list styles are built upon re-useable class names, so rather than an article having 1 class with lots of styles, an article will have multiple classes with only 1 or 2 styles per class.</p>

<p>Adding the class <code>click</code> will make whole article will become clickable.</p>

<pre><code class='xml'>&lt;article class="sa-cf list hover divide click"&gt;
  ...
&lt;/article&gt;

&lt;article class="col-sm-4 tab click"&gt;
  ...
&lt;/article&gt;
</code></pre>

<p><a href='{{ page.base }}examples/css-articles.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
