<h1>Columns</h1>

<p>Stan provides additional column sizes not supplied in BS. </p>

<pre><code class='xml'>&lt;div class='col-sm-2-4'&gt;5 columns in view&lt;/div&gt;

&lt;div class='col-sm-1-5'&gt;8 columns in view&lt;/div&gt;

&lt;div class='col-sm-1-3'&gt;9 columns in view&lt;/div&gt;

&lt;div class='col-sm-1-2'&gt;10 columns in view&lt;/div&gt;</code></pre>

<p><a href='{{ page.base }}examples/css-columns.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
