<h1>Space/Divide</h1>

<p>A selection of spacing and dividing elements.</p>

<p>Spaces have a base styling of <code>clear:both;</code> while divides have a base styling of <code>clear:both; border-bottom:solid 1px #ccc;</code>.</p>

<p>Both are available in the sizes <code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code> and <code>xl</code>.</p>


<pre><code class='xml'>&lt;div class="space-xs"&gt;&lt;/div&gt; &lt;!--7px high--&gt;
&lt;div class="divide-sm"&gt;&lt;/div&gt; &lt;!--15px high - 15px margin bottom--&gt;
&lt;div class="space-md"&gt;&lt;/div&gt; &lt;!--30px high--&gt;
&lt;div class="divide-lg"&gt;&lt;/div&gt; &lt;!--45px high - 45px margin bottom--&gt;
&lt;div class="space-xl"&gt;&lt;/div&gt; &lt;!--60px high--&gt;
</code></pre>

<div class='divide-lg'></div>
