<h1>Lists</h1>

<p>By default STAN turns off all <code>list-style</code>'s, use the following class names on any <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> to style the <code>&lt;li&gt;</code>'s.</p>

<ul class='bullet'>
	<li><code>bullet</code> - Bullet pointed list</li>
	<li><code>numeric</code> - Numerically ordered list</li>
	<li><code>alpha</code> - Alpha ordered list</li>
	<li><code>icon</code> - Use an icon as a bullet point. Icon should be controlled by the <code>&lt;i&gt;</code> tag.</li>
</ul>

<pre><code class='xml'>&lt;ul class="icon"&gt;
	&lt;li&gt;&lt;i class="fa fa-star"&gt;&lt;/i&gt;Foobar&lt;/li&gt;
	&lt;li&gt;&lt;i class="fa fa-star"&gt;&lt;/i&gt;Foobar&lt;/li&gt;
	&lt;li&gt;&lt;i class="fa fa-star"&gt;&lt;/i&gt;Foobar&lt;/li&gt;
&lt;/ul&gt;</code></pre>


<div class='divide40'></div>