<h1>Margin/Paddings</h1>

<p>Add or remove margins and paddings for requited elements.</p>

<p>To remove the padding or margins from all sides use <code>.no-pad</code> or <code>.no-mar</code> to only select certain sides add either <code>-top</code>, <code>-btm</code>, <code>-left</code> or <code>-right</code> to the class name.</p>

<p>To add a 30px padding or margin use <code>.mar</code> or <code>.pad</code>  to only select certain sides add either <code>-top</code>, <code>-btm</code>, <code>-left</code> or <code>-right</code> to the class name. Additionaly use a <code>-lrg</code> suffix to increase the value to 60px or <code>-sml</code> to decrease the value to 15px.</p>

<div class='divide40'></div>