<h1>Clears/Divides</h1>

<p>A selection of spacing and dividing elements.</p>

<p>Clears have a base styling of <code>[class^="clear"]{ clear:both; height:0px; }</code> and available in heights of 1, 5, 10, 20, 30, 40 and 50. eg <code>.space-sm{ height:20px; }</code>

<p>Divides have a base styling of <code>[class^="divide"]{ clear:both; border-bottom:solid 1px #ccc; }</code> and available in heights, of 5, 10, 20, 30, 40 and 50. eg <code>.divide20{ height:20px; margin-bottom:20px; }</code>

<div class='divide-lg'></div>
