<h1>Helpers</h1>

<p>A collection of helper classes.</p>

<h3>Floats</h3>
<p>Float an element to the left or right with <code>.float-left</code> or <code>.float-right</code>.</p>
<div class='space-sm'></div>

<h3>Text Aligns</h3>
<p>Align text to the left, center or right with <code>.text-left</code>, <code>.text-center</code> or <code>.text-right</code>.</p>
<div class='space-sm'></div>

<h3>Displays/Positions</h3>
<p>To force an element to display block use <code>.block</code>. To make an element position relative use <code>.relative</code>.</p>
<div class='space-sm'></div>

<h3>Mouse Cursors</h3>
<p>To make an element use the pointer as a mouse cursor use <code>.pointer</code>.</p>

<div class='divide-lg'></div>
