<h1>Helpers</h1>

<p>A collection of helper classes.</p>

<h4>Floats</h4>
<p>Float an element to the left or right with <code>.float-left</code> or <code>.float-right</code>.</p>
<div class='space-sm'></div>

<h4>Text Aligns</h4>
<p>Align text to the left, center or right with <code>.text-left</code>, <code>.text-center</code> or <code>.text-right</code>.</p>
<div class='space-sm'></div>

<h4>Displays/Positions</h4>
<p>To force an element to display block use <code>.block</code>. To make an element position relative use <code>.relative</code>.</p>
<div class='space-sm'></div>

<h4>Mouse Cursors</h4>
<p>To make an element use the pointer as a mouse cursor use <code>.pointer</code>.</p>
<div class='space-sm'></div>

<h4>Pixel Ratio</h4>
<p>Prefix classes with <code>.x2</code> to reference hi-res sprites on retina ready devices e.g <code>.x2 .sprite{ background:url(sprire@2x.png); }</code>.</p>
<div class='space-sm'></div>

<h4>Stop Parent Scrolling</h4>
<p>To stop a parent element scrolling when scrolling a child add the class <code>.stop-parent-scroll</code> to the child.</p>

<div class='divide-lg'></div>
