<h1>Pagination</h1>

<p>Standard pagination styles based on <code>inline-block</code> positioning (rather than float) so that paging links can easily be positioned left, right or center. As the <code>li</code>'s are positioned inline, to avoid any extra spacing beetween the elements ensure there is no white space between the closing <code>&lt;/li&gt;</code> and the opening <code>&lt;li&gt;</code>.</p>


<pre><code class='xml'>&lt;ul class="sa-pagination text-center"&gt;
  &lt;li class='arrow'&gt;
    &lt;a href="#"&gt;&lt;i class='fa fa-chevron-left'>&lt;/i&gt;&lt;/a&gt;
  &lt;/li>&lt;li class='active'&gt;
    &lt;a href="#"&gt;1&lt;/a&gt;
  &lt;/li>&lt;li class='arrow'&gt;
    &lt;a href="#"&gt;&lt;i class='fa fa-chevron-right'>&lt;/i&gt;&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>

<p><a href='{{ page.base }}examples/css-pagination.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

<div class='divide-lg'></div>
