{% assign module = "fs" %}

<h1>Fixed Size</h1>
<p>Make elements always be the same height</p>

<div class='collapse-tab'>

	<ul class="nav nav-tabs hidden-xs">
		<li class='active'><a href="#{{ module }}examples" data-toggle="tab">Examples</a></li>
		<li><a href="#{{ module }}settings" data-toggle="tab">Settings</a></li>
		<li><a href="#{{ module }}methods" data-toggle="tab">Methods</a></li>
		<li><a href="#{{ module }}events" data-toggle="tab">Events</a></li>
		<li><a href="#{{ module }}listeners" data-toggle="tab">Listeners</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="{{ module }}examples">
			<h3 data-toggle="collapse" data-target="#{{ module }}examples>div">Examples</h3>
			<div class='collapse'>
				
				<h4>Responsive Columns</h4>
				<p>Fix the heights of columns when inside a responsive column structure.</p>
				<code class='js block'>
					$('.row').FixedSize({<br/>
					{{ site.tab }}selector:'.col>div',<br/>
					{{ site.tab }}devices:{ xs:false, sm:2, md:3, lg:4 }<br/>
					});
				</code>

				<p><a href='examples/media-query-class/' target='_blank' class='btn btn-sm btn-primary'><i class='fa fa-external-link'></i> View Example</a></p>

			</div>
		</div>
		<div class="tab-pane" id="{{ module }}settings">
			<h3 data-toggle="collapse" data-target="#{{ module }}settings>div">Settings</h3>
			<div class='collapse'>
				<table class='table table-bordered'>
					<tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
					<tr>
						<td><code>selector</code></td>
						<td>string</td>
						<td>div</td>
						<td>The selectors to fix the size of</td>
					</tr>
					<tr>
						<td><code>devices</code></td>
						<td>object</td>
						<td>{ xs:0, sm:0, md:0, lg:0 }</td>
						<td>How many selectors to group together when fixing the size. Set to <code>0</code> for all, or set to a number. ie setting to <code>3</code> will make the first 3 selectors the same height, then the next 3 and so on. Devices based on Bootstrap spec.</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="tab-pane" id="{{ module }}methods">
			<h3 data-toggle="collapse" data-target="#{{ module }}methods>div">Methods</h3>
			<div class='collapse'>
				<p><code>$('#selector').FixedSize('fix');</code> Invokes the fix method</p>
			</div>
		</div>
		<div class="tab-pane" id="{{ module }}events">
			<h3 data-toggle="collapse" data-target="#{{ module }}events>div">Events</h3>
			<div class='collapse'>
				<p><code class='html block'>$('#selector').on('sa.fixedsize.fix',function(event,settings){<br/>
				{{site.tab}} //Triggered every time selectors are resized<br/>
				});</code></p>
			</div>
		</div>
		<div class="tab-pane" id="{{ module }}listeners">
			<h3 data-toggle="collapse" data-target="#{{ module }}listeners>div">Listeners</h3>
			<div class='collapse'>
				<p>This module has no listeners.</p>
			</div>
		</div>
	</div>
</div>

<div class='divide40'></div>