{% assign module = "col" %}

<h1>Colousel</h1>
<p>A responsive carousel plugin that works within BS's column layouts.</p>

<div class='collapse-tab'>

	<ul class="nav nav-tabs hidden-xs">
		<li class='active'><a href="#{{ module }}examples" data-toggle="tab">Examples</a></li>
		<li><a href="#{{ module }}settings" data-toggle="tab">Settings</a></li>
		<li><a href="#{{ module }}methods" data-toggle="tab">Methods</a></li>
		<li><a href="#{{ module }}events" data-toggle="tab">Events</a></li>
		<li><a href="#{{ module }}listeners" data-toggle="tab">Listeners</a></li>
		<li><a href="#{{ module }}helpers" data-toggle="tab">Helpers</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="{{ module }}examples">
			<h3 data-toggle="collapse" data-target="#{{ module }}examples>div">Examples</h3>
			<div class='collapse'>
				
				<h4>Continuous Scroll</h4>
				<p>A continuous looping carousel with autoplay.</p>

<pre><code class='xml'>&lt;div class='colousel' id='colousel'>
	&lt;span class='colousel-prev'>&lt;/span&gt;
	&lt;span class='colousel-next'>&lt;/span&gt;
	&lt;div class='colousel-inner'&gt;
		&lt;div&gt;&lt;/div&gt;
		&lt;div&gt;&lt;/div&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
$('#colousel').Colousel({
	selector_class:'col-xs-6 col-sm-4 col-md-3 col-lg-2',
	autoplay:true,
	autoplay_delay:3000
});
&lt;/script&gt;</code></pre>

				<p><a href='examples/media-query-class/' target='_blank' class='btn btn-sm btn-primary'><i class='fa fa-external-link'></i> View Example</a></p>

				<div class='clear20'></div>

				<h4>Non Continuous Scroll</h4>
				<p>A none continuous looping carousel.</p>
				
<pre><code class='xml'>&lt;div class='colousel' id='colousel'>
	&lt;span class='colousel-prev'>&lt;/span&gt;
	&lt;span class='colousel-next'>&lt;/span&gt;
	&lt;div class='colousel-inner'&gt;
		&lt;div class='col-xs-12 col-sm-6'&gt;&lt;/div&gt;
		&lt;div class='col-xs-12 col-sm-6'&gt;&lt;/div&gt;
		...
	&lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
$('#colousel').Colousel({
	continuous:false
});
&lt;/script&gt;</code></pre>

				<p><a href='examples/media-query-class/' target='_blank' class='btn btn-sm btn-primary'><i class='fa fa-external-link'></i> View Example</a></p>

			</div>
		</div>
		<div class="tab-pane" id="{{ module }}settings">
			<h3 data-toggle="collapse" data-target="#{{ module }}settings>div">Settings</h3>
			<div class='collapse'>
				<table class='table table-bordered'>
					<tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
					<tr>
						<td><code>continuous</code></td>
						<td>boolean</td>
						<td>true</td>
						<td>If <code>true</code> the colousel with scroll in a continuous loop</td>
					</tr>
					<tr>
						<td><code>selector</code></td>
						<td>string</td>
						<td>div</td>
						<td>The selectors that will be moving</td>
					</tr>
					<tr>
						<td><code>selector_class</code></td>
						<td>string</td>
						<td></td>
						<td>Class names to add to all selectors</td>
					</tr>
					<tr>
						<td><code>transition_speed</code></td>
						<td>integer</td>
						<td>300</td>
						<td>The speed at which the colousel moves</td>
					</tr>
					<tr>
						<td><code>autoplay</code></td>
						<td>boolean</td>
						<td>false</td>
						<td>If <code>true</code> the colousel will auto scroll</td>
					</tr>
					<tr>
						<td><code>autoplay_delay</code></td>
						<td>integer</td>
						<td>5000</td>
						<td>The delay between auto scrolls</td>
					</tr>
					<tr>
						<td><code>break_autoplay_on_click</code></td>
						<td>boolean</td>
						<td>true</td>
						<td>If <code>true</code> once a user has clicked the prev/next buttons any autoplay will be stopped</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="tab-pane" id="{{ module }}methods">
			<h3 data-toggle="collapse" data-target="#{{ module }}methods>div">Methods</h3>
			<div class='collapse'>

				<pre><code class='javascript'>$('#selector').Colousel('next'); // Invokes the next method</code></pre>
				<pre><code class='javascript'>$('#selector').Colousel('prev'); // Invokes the prev method</code></pre>

			</div>
		</div>
		<div class="tab-pane" id="{{ module }}events">
			<h3 data-toggle="collapse" data-target="#{{ module }}events>div">Events</h3>
			<div class='collapse'>

<pre><code class='javascript'>$('#selector').on('next.sa.colousel',function(event,settings){
	// Triggered every time the colousel moves next
});

$('#selector').on('prev.sa.colousel',function(event,settings){
	// Triggered every time the colousel moves prev
});</code></pre>

			</div>
		</div>
		<div class="tab-pane" id="{{ module }}listeners">
			<h3 data-toggle="collapse" data-target="#{{ module }}listeners>div">Listeners</h3>
			<div class='collapse'>

<pre><code class='xml'>&lt;a href='javascript:;' data-toggle='colousel.next' data-target='#selector'&gt;Move Next&lt;/a&gt;
&lt;a href='javascript:;' data-toggle='colousel.prev' data-target='#selector'&gt;Move Prev&lt;/a&gt;</code></pre>

			</div>
		</div>
		<div class="tab-pane" id="{{ module }}helpers">
			<h3 data-toggle="collapse" data-target="#{{ module }}helpers>div">Helpers</h3>
			<div class='collapse'>
				<p>When in none continous mode the classes <code>start</code> and <code>end</code> are added to the main colousel when at the start and end respectivly.</p>
			</div>
		</div>
	</div>
</div>

<div class='divide40'></div>