<h1>Predinput</h1>
<p>A simple predictive input module.</p>

<div class="sa-collapse-tabs plugin-examples">

  <ul class="sa-cf tab-nav desktop-only">
    <li><a href="#">Examples</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Events</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane">

      <div class="sa-click mobile-only">Examples</div>
      <div class="sa-content">
<h4>Simple Predictive Search</h4>
        <p>Return search results that match passed string</p>

<pre><code class='xml'>&lt;div class='predinput'>
  &lt;input type='text' class='form-control' /&gt;
  &lt;div class='results'&gt;&lt;/div&gt;
  &lt;i class='clear fa fa-times'&gt;&lt;/i&gt;
&lt;/div&gt;

&lt;script&gt;
$('.predinput').Predinput({
  search_url:'http://127.0.0.1:9001/predinput-results.html',
  data: { results_limit:10 }
});
&lt;/script&gt;</code></pre>

        <p><a href='{{ page.base }}examples/plugin-predinput.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Settings</div>
      <div class="sa-content">
<table class='table table-bordered'>
          <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
          <tr>
            <td><code>search_url</code></td>
            <td>string</td>
            <td></td>
            <td>The selector to hold the content on XS devices</td>
          </tr>
          <tr>
            <td><code>http_request</code></td>
            <td>string</td>
            <td>GET</td>
            <td>The type of HTTP request to make to the search url</td>
          </tr>
          <tr>
            <td><code>data</code></td>
            <td>object</td>
            <td></td>
            <td>An object of data to pass to the search URL - passed as JSON</td>
          </tr>

        </table>
      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Events</div>
      <div class="sa-content">
<pre><code class='javascript'>$('#selector').on('search.sa.predinput',function(event,settings){
  // Triggered every time search happens
});

$('#selector').on('selected.sa.predinput',function(event,settings){
  // Triggered every time a predicted result is selected
});</code></pre>
      </div>

    </div>
  </div>

</div>

<div class='divide-lg'></div>
