<h1>DOMovr</h1>
<p>Move content between selectors depending on current device.</p>

<div class="sa-collapse-tabs plugin-examples">

  <ul class="sa-cf tab-nav desktop-only">
    <li><a href="#">Examples</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Events</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane">

      <div class="sa-click mobile-only">Examples</div>
      <div class="sa-content">
        <h4>XS, SM, MD &amp; LG</h4>
        <p>The content is in a different holder for all devices.</p>

<pre><code class='xml'>&lt;div id='xs-holder'&gt;&lt;div class='domovr'&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div id='sm-holder'&gt;&lt;/div&gt;
&lt;div id='md-holder'&gt;&lt;/div&gt;
&lt;div id='lg-holder'&gt;&lt;/div&gt;

&lt;script&gt;
$('.domovr').DOMovr({
  xs:'#xs-holder',
  sm:'#sm-holder',
  md:'#md-holder',
  lg:'#lg-holder'
});
&lt;/script&gt;</code></pre>

        <p><a href='{{ page.base }}examples/plugin-domovr.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

        <div class='space-sm'></div>

        <h4>XS/SM &amp; MD/LG</h4>
        <p>The content is split between xs/sm and md/lg devices.</p>

<pre><code class='xml'>&lt;div id='xssm-holder'&gt;&lt;div class='domovr'&gt;&lt;/div&gt;&lt;/div&gt;
&lt;div id='mdlg-holder'&gt;&lt;/div&gt;

&lt;script&gt;
$('.domovr').DOMovr({
  sm:'#xssm-holder',
  md:'#mdlg-holder'
});
&lt;/script&gt;</code></pre>

        <p><a href='{{ page.base }}examples/plugin-domovr-2.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Settings</div>
      <div class="sa-content">
<table class='table table-bordered'>
          <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
          <tr>
            <td><code>xs</code></td>
            <td>string</td>
            <td></td>
            <td>The selector to hold the content on XS devices</td>
          </tr>
          <tr>
            <td><code>sm</code></td>
            <td>string</td>
            <td></td>
            <td>The selector to hold the content on SM devices</td>
          </tr>
          <tr>
            <td><code>md</code></td>
            <td>string</td>
            <td></td>
            <td>The selector to hold the content on MD devices</td>
          </tr>
          <tr>
            <td><code>lg</code></td>
            <td>string</td>
            <td></td>
            <td>The selector to hold the content on LG devices</td>
          </tr>

        </table>
      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Events</div>
      <div class="sa-content">
<pre><code class='javascript'>$('#selector').on('moved.sa.domovr',function(event,settings){
  // Triggered every time content moves selector
});</code></pre>
      </div>

    </div>
  </div>

</div>

<div class='divide-lg'></div>
