<h1>Swiper</h1>
<p>Create responsive sticky elements that can be controlled on a per device basis.</p>

<div class="sa-collapse-tabs plugin-examples">

  <ul class="sa-cf tab-nav desktop-only">
    <li><a href="#">Examples</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Events</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane">

      <div class="sa-click mobile-only">Examples</div>
      <div class="sa-content">

        <p><a href='{{ page.base }}examples/plugin-swiper.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>

      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Settings</div>
      <div class="sa-content">

      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Events</div>
      <div class="sa-content">

      </div>

    </div>

  </div>

</div>

<div class='divide-lg'></div>
