<h1>Class Switcher</h1>
<p>Easily toggle classes applied to elements.</p>


<div class="sa-collapse-tabs plugin-examples">

  <ul class="sa-cf tab-nav desktop-only">
    <li><a href="#">Examples</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Events</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane">

      <div class="sa-click mobile-only">Examples</div>
      <div class="sa-content">
                <h4>Grid/List Switcher</h4>
                <p>Switch between a grid and list layout.</p>

<pre><code class='xml'>&lt;ul data-toggle="class-switcher" data-target=".switcher"&gt;
  &lt;li class="btn btn-default active" data-class='col-sm-3 grid'&gt;Grid View&lt;/li&gt;
  &lt;li class="btn btn-default" data-class='col-sm-12 list'&gt;List View&lt;/li&gt;
&lt;/ul&gt;

&lt;div class='row switcher'&gt;
  &lt;div&gt;&lt;/div&gt;
  &lt;div&gt;&lt;/div&gt;
  ...
&lt;/div&gt;

&lt;script&gt;
$('.switcher').ClassSwitcher({
  selector:'div'
});
&lt;/script&gt;</code></pre>

        <p><a href='{{ page.base }}examples/plugin-class-switcher.html' target='_blank' class='btn btn-sm btn-black'><i class='fa fa-external-link'></i> View Example</a></p>
      </div>

    </div>
    <div class="tab-pane">

      <div class="sa-click mobile-only">Settings</div>
      <div class="sa-content">
        <table class='table table-bordered'>
          <tr><th>Name</th><th>Type</th><th>Default</th><th>Description</th></tr>
          <tr>
            <td><code>selector</code></td>
            <td>string</td>
            <td>div</td>
            <td>The selector to apply classes to</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="tab-pane">

      <div class="sa-click mobile-only">Events</div>
      <div class="sa-content">
<pre><code class='javascript'>$('#selector').on('change.sa.class-switcher',function(event,settings){
// Triggered every time classes are changed
});</code></pre>
      </div>

    </div>

  </div>

</div>

<div class='divide-lg'></div>
